<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Kraken</title>
  <meta name="description" content="Kraken">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:image" content="./assets/logo.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="512">
  <meta property="og:image:height" content="512">

  <link rel="shortcut icon" href="./assets/favicon.ico" />
  <link rel="apple-touch-icon" href="./assets/favicon.ico">
</head>
<body>
  <!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <!-- Preventing FOUC -->
  <div style="position:fixed;left:0;top:0;width:100%;height:100%;background:#F5F5F5;" class='loading-wrapper'></div>
  <div class="main-wrapper">
    <div class="header-wrapper">
      <div class="mobile-header-container">
        <div class="logo-container">
          <img src="./assets/logo-desktop.png" alt="Kraken" class="logo-image desktop-item" />
          <img src="./assets/logo-mobile.png" alt="Kraken" class="logo-image mobile-item" />
        </div>
        <div class="mobile-item mobile-menu"><img src="./assets/mobile-menu.png" height="32" /></div>
      </div>
      <div class="navigation-container desktop-item">
        <ul class="nav-ul">
          <li><a href="#">LOGOUT</a></li>
          <li class="active"><a href="#">GALLERY</a></li>
          <li><a href="./panels">LIST ITEMS</a></li>
        </ul>
      </div>
      <div class="user-icon-container desktop-item">
        <div class="user-icon desktop-item">
          <div class="notification-counter">2</div>
        </div>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="images-container">

        {% for item in images.data%}
        <div class="single-image" data-title="{{item.title}}" data-image="{{item.images.downsized_medium.url}}">
          <img src="{{item.images.fixed_width_small.url}}" alt="Gallery Image" />
        </div>
        {% endfor %}

      </div>
      <div class="images-loading">
        <img src="../assets/loading.gif" alt="Loading..." />
      </div>
    </div>
  </div>
  <div class="popup-overlay">
    <div class="modal">
      <div class="modal-header">
        <div class="image-title"><h3>Image</h3></div>
        <div class="close-button"><img src="./assets/close-btn.png" alt="Close Button" /></div>
      </div>
      <div class="modal-content">
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="./build/main.bundle.js"></script>
</body>
</html>
